<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>luopeli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<h1>Lisää uusi peli</h1>
<body>
	<form th:object="${peli}" th:action="@{savepeli}" action="#" method="post">
		<label for="name">Nimi: </label>
		<input type="text" id="name" th:field="*{name}" /></br>
		
		<label for="publisher">Julkaisija: </label>
		<input type="text" id="publisher" th:field="*{publisher}" /></br>
		
		<label for="price">Hinta: </label>
		<input type="text" id="price" th:field="*{price}" /></br>
		
		<label for="genrelist">Genre</label>
			<select id="genrelist" th:field="*{genre}" class="form-control">
				<option th:each="genre: ${genres}" th:value="${genre.genre_id}" th:text="${genre.name}"></option>
			</select>
			
			<label for="konsolilist">Konsoli</label>
			<select id="konsolilist" th:field="*{konsoli}" class="form-control">
				<option th:each="konsoli: ${konsolit}" th:value="${konsoli.konsoli_id}" th:text="${konsoli.name}"></option>
			</select>
		
		<input type="submit" value="Valmis"></input>
	</form>
</body>

</html>