<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>luopeli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<h1 th:text="#{Lisaap}"></h1>
<body>
	<form th:object="${peli}" th:action="@{savepeli}" action="#" method="post">
		<table>
	<tr>
		<td><label for="name"><span th:text="#{nimi}"></span></label> </td>
		<td><input type="text" id="name" th:field="*{name}" /> </td>
		<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
		</tr>
		<tr>
		<td><label for="publisher"><span th:text="#{julkaisija}"></span></label></td>
		<td><input type="text" id="publisher" th:field="*{publisher}" /></td>
		<td th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Error</td>
		</tr>
		<tr>
		<td><label for="price"><span th:text="#{hinta}"></span></label></td>
		<td><input type="text" id="price" th:field="*{price}" /></td>
		</tr>
		</table>
		
		<label for="genrelist" th:text="#{Genre}"></label>
			<select id="genrelist" th:field="*{genre}" class="form-control">
				<option th:each="genre: ${genres}" th:value="${genre.genre_id}" th:text="${genre.name}"></option>
			</select>
			
			<label for="konsolilist"><span th:text="#{Konsoli}"></span></label>
			<select id="konsolilist" th:field="*{konsoli}" class="form-control">
				<option th:each="konsoli: ${konsolit}" th:value="${konsoli.konsoli_id}" th:text="${konsoli.name}"></option>
			</select>
		
		<button type="submit" class="btn" th:text="#{valmis}"></button>
	</form>
</body>

</html>