<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>genrelista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Tietokannassa olevat genret</h1>
	
	<table>
		<tr th:each= "genre:${genres}">
			<td th:text= "${ genre.name }"></td>
			<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/deletegenre/{id}(id=${genre.genre_id})}">Poista</a></td>
		</tr>
	
	<tr>
	<td sec:authorize="hasRole('ADMIN')"> <a th:href="@{/addgenre}">Lisää uusi genre</a></td>
	</tr>
	<tr>
	<td> <a th:href="@{/}">Konsolit</a></td>
	<td> <a th:href="@{/pelilist}">Pelit</a></td>	
	<td sec:authorize="hasRole('ADMIN')"> <a th:href="@{/resthome}">REST API</a></td>
	</tr>
	</table>
	<br>
	<form th:action="@{/logout}" method = "post">
	<input type="submit" value="Kirjaudu ulos" class="btn"/>
	</form>
	
</body>
</html>